.bullet {
	background: url(../images/bullet.png) no-repeat left center;
	padding-left: 30px;
	line-height: 30px;
	height: 30px;
}
.slider h1 {
	font-size: 26px;
	font-weight: bold;
	color: #0177c1;
}
.slider h2 {
	font-size: 22px;
	font-weight: bold;
	color: #0177c1;
}